<div class="d-flex flex-column align-items-center">
  <h1>My tasks</h1>

  <ul class="list-group">
    <% @tasks.each do |task| %>
      <li class="list-group-item">
      <%= check_box("tag", tag.id, {checked: (task.completed?)}) %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to "ðŸ—‘ï¸", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      </li>
    <% end %>
  </ul>

<div class="btn btn-primary">
    <%= link_to 'Add a new task', new_path %>
</div>

</div>
